body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* UPDATES */

.body img {
  width: 100%;
}

.updates {
  margin-bottom: 0px;
}

.updates h2 {
  margin-top: 0px;
  font-size: 24px;
  margin-bottom: 10px;
}

.recent-update {
  padding: 5px 8px;
  border-radius: 5px;
}

figcaption {
  text-align: center;
  /* Center the caption text */
}

.recent-update p {
  margin: 0;
  font-size: 16px;
}

/* REFERENCES*/

.references {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.references ol {
  list-style-type: decimal;
  margin-left: 1.5em;
}

.references ol li {
  margin-bottom: 1em;
}

.references a {
  color: blue;
  text-decoration: none;
}

.references a:hover {
  text-decoration: underline;
}

/* CONTAINER */



.container {
  width: 80%;
  margin: 20px auto;
  margin-top: 130px;
  padding: 30px 50px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  .container {
    width: 80%;
    margin: 10px auto;
    /* Ensures centering on small screens */
    padding: 10px;
  }
}

.related-body h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.related-body p {
  margin-top: 0px;
}

.second {
  margin-top: 10px;
}

/* MILESTONES */

.milestones-section {
  background-color: #f4f4f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.milestones {
  list-style-type: none;
  padding-left: 0;
}

.milestones li {
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 1.5;
}

.milestones li.completed {
  color: #2c662d;
}

.milestones li.completed:before {
  content: "\2713";
  /* Checkmark symbol */
  color: #2c662d;
  position: absolute;
  left: 0;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}

h2 {
  color: #2c662d;
  margin-bottom: 20px;
}

.milestones-section h2 {
  margin-top: 0px;
}

.section-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .milestones li {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }
}

.milestone-card {
  width: 100%;
  /* Wider cards */
  max-width: 500px;
  /* Larger max width for better visibility */
  height: 150px;
  /* Shorter cards */
  margin: 10px auto;
  /* Centered with automatic margins */
  perspective: 1500px;
  /* Adjust perspective for a smoother flip */
}

.milestone-front,
.milestone-back {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  /* Elements are not visible when flipped */
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.8s, box-shadow 0.3s;
  /* Slower flip animation */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.milestone-front {
  background-color: #333;
  /* Neutral color for the front */
}

.milestone-back {
  background-color: #555;
  /* Slightly darker for the back */
  transform: rotateY(180deg);
  /* Start flipped */
}

.milestone-card:hover .milestone-front {
  transform: rotateY(-180deg);
  /* Rotate front out */
}

.milestone-card:hover .milestone-back {
  transform: rotateY(0deg);
}

.completed .milestone-front {
  background-color: #4CAF50;
  font-weight: bold;

}

.uncompleted .milestone-front {
  background-color: #f44336;
}

/* EOFMILESTONE*/

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.image-grid img {
  width: 80%;
  height: auto;
}

@media (max-width: 600px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}

h2 {
  margin-top: 30px;
}

section {
  margin-bottom: 40px;
  scroll-margin-top: 165px;
}

h1,
h2 {
  color: #2c662d;
}

h1 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

h2 {
  margin-top: 30px;
}

p {
  line-height: 1.6;
}

.team-member {
  margin-bottom: 20px;
}

.role {
  font-style: italic;
  color: #555;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
}

/* Index Cards */

/* Header */

#logo {
  transition: opacity 0.2s ease-in-out;
}

#logo:hover {
  opacity: 0.8;
}

#logo:active {
  opacity: 0.4;
}


.header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.88);
  color: #E4EFE7;
  padding: 10px 20px;
  z-index: 1000;
}

.header2 {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.88);
  color: #E4EFE7;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

@media (max-width: 1100px) {

  .header2 {
    display: none;
  }

}



.header h1 {
  font-weight: bold;
  font-size: 32px;
}

#logo {
  height: 50px;
  /* Adjust the size as needed */
  margin-right: 20px;
}

.header-buttons {
  margin-right: 40px;
}

nav button {
  background: none;
  border: 2px solid #225522;
  padding: 10px 20px;
  color: #225522;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

nav button:hover {
  background-color: #E4EFE7;
  color: #2D6A4F;
}

@media (max-width: 1200px) {

  .header h1 {
    display: none;
  }
  .header2 {
    visibility: hidden;
  }

  .header-buttons {
    margin-right: 40px;
  }

  nav button {
    padding: 8px 12px;
    margin-right: 3px;
    font-size: larger;
    border: 1px solid #225522;

  }




}

/* End of Header */

/* Team */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

h1,
h2 {
  color: #2c662d;
}

h1 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

h2 {
  margin-top: 30px;
}

p {
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word;
}

.team-member {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.team-member:last-child {
  border-bottom: none;
}

.role {
  font-style: italic;
  color: #555;
}

.team-member img {
  width: 100px;
  /* Adjust as needed */
  height: 100px;
  /* Adjust as needed */
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}

.social-links a {
  margin-right: 10px;
  color: #333;
  font-size: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
}

.team-member {
  display: flex;
  align-items: center;
  /* Keeps items vertically aligned */
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.member-details {
  margin-left: 20px;
  /* Spacing between image and text */
}

.team-title {
  margin-bottom: 30px;
  font-size: x-large;
}

@media (max-width: 768px) {
  .team-member {
    flex-direction: column;
    align-items: flex-start;
  }

  .member-details {
    margin-left: 0;
  }

  .team-member img {
    width: 80px;
    height: 80px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  .updates h2 {
    font-size: 18px;
  }
}

/* Prior Literature/Survey */

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.card {
  flex: 1 1 300px;
  background-color: #ffffff;
  padding: 20px;
  border: solid #225522 1px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card h3 {
  margin-top: 0;
  color: #2c662d;
}

.card p {
  line-height: 1.4;
  margin-top: 10px;
  flex-grow: 1;
}

.card a {
  align-self: start;
  text-decoration: none;
  color: white;
  background-color: #225522;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card a:hover {
  background-color: #2c662d;
}

/* Table of contents */

.second-section {
  background-color: #f9f9f9;
  padding: 20px 50px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.second-section h2 {
  margin-top: 0;
  font-size: 24px;
  color: #2c662d;
}

.toc-group {
  margin-bottom: 20px;
}

.toc-group h3 {
  margin-top: 0;
  font-size: 20px;
  color: #1b4d3e;
}

.toc-buttons {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: 10px;
}

.toc-buttons li {
  flex: 1 1 calc(2% - 2px);
  /* Two columns with a 10px gap */
}

.toc-button {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #2c662d;
  /* background-color: #2c662d; */
  /* border: 2px solid #2c662d; */
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, border-color 0.3s;
  text-align: center;
  box-sizing: border-box;
}

.toc-button:hover {
  background-color: #1b4d3e;
  color: #fff;
  transform: scale(1.05);
  border-color: #fff;
}

.toc-button:active {
  transform: scale(1);
}

@media (max-width: 768px) {
  .toc-buttons li {
    flex: 1 1 100%;
    /* Single column on small screens */
  }
}

a {
  word-break: break-all;
  word-wrap: break-word;
}

.references li {
  word-break: break-all;
  word-wrap: break-word;
}



/* Smooth Scrolling */

html {
  scroll-behavior: smooth;
}

.vid {
  width: 35%;
  height: auto;
}


@media (max-width: 768px) {
  .vid {
    width: 100%;
    height: auto;
  }
}

.first {
  margin-top: 130px;
}

/* References */
:target {
  scroll-margin-top: 165px;
  /* Adjust the scroll margin */
}

.references ol {
  list-style: none;
  counter-reset: ref-counter;
  padding-left: 0;
}

.references li {
  counter-increment: ref-counter;
  margin-bottom: 0.5em;
}

.references li::before {
  content: "[" counter(ref-counter) "]";
  margin-right: 0.5em;
}

:target {
  scroll-margin-top: 165px;
  /* Adjust the scroll margin */
}

.figure {
  text-align: center;
  margin: 20px 0;
}

.figure img {
  max-width: 100%;
  height: auto;
}

.figure figcaption {
  margin-top: 10px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .figure img {
    width: 70%;
  }
}

@media (max-width: 599px) {
  .figure img {
    width: 100%;
  }
}

.outer-container {
  max-width: 60%;
  /* Set the width of the outer container */
  margin: 0 auto;
  /* Center the outer container */
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.video-container {
  position: relative;
  padding-bottom: 45%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  width: 100%;
  /* Set width to 100% of the outer container */
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .outer-container {
    max-width: 90%
      /* Set the width to 100% on phones */
  }
}

h3 {
  text-align: left;
}

.code-inline {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: "Courier New", Courier, monospace;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 10px 0;
  border-left: 10px solid #ccc;
  overflow-x: auto;
}